{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>	
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %} Document {% endblock %}</title>
	{% block extra_css %}
	{% endblock extra_css %}
</head>

<body>
	{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Administración</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Departamentos
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				
				<a class="dropdown-item" href="{% url 'planilla:PlanillaPreList' %}">Guardar Planilla</a>
				<a class="dropdown-item" href="{% url 'planilla:PlanillaList' %}">Historial Planilla</a>
			  </div>
			</li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
		  </form>
		</div>
	  </nav>
	

	{% endblock %}

	{% block content %}
	<h4> Bloque de contenido </h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>	
	{% block extrajs %}
	{% endblock extrajs %}

</body>

</html>