{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Detalle Planilla
{% endblock %}

{% block content %}

<div>
	<table id="tabla_planilla" class="table table-bordered"></table>
</div>

{% endblock%}


{% block extrajs %}

<script>
	$(document).ready(function(){
		var table = $('#tabla_planilla').DataTable({		
			"paginate": true,
			"searching": true,
			"ajax":{
				"method":"POST",
				data:{                
					csrfmiddlewaretoken: '{{csrf_token}}',
				},
				"url": "{% url 'planilla:PlanillaGet' %}"				
			},
			"columns":[
				{"data":'id', title:"ID"},
				{"data":'salario_ordinario','width':'5%',title:"Salario"},
				{"data":'incentivo','width':'5%',title:"Incentivo"},
				{"data":'bonificaciones', title:"Bonos"},
				{"data":'valor_horas', 'width':'10%', title:"Valor Horas Extra"},
				{"data":'horas', title:"Horas Extra"},
				{"data":'salarioTotal', title:"Salario Total"},
				{"data":'cuotaIgss', title:"IGSS"},
				{"data":'descuentoIsr', title:"ISR"},
				{"data":'totalDeducciones','width':'5%', title:"Total Deducciones"},
				{"data":'liquido', title:"Salario Líquido"},
				{"data":'fechaCreacion', title:"Fecha"},
				{"data":'name', title:"Usuario"},
                    ],
			"language": {
				"emptyTable": "Sin registros, ingrese un codigo para iniciar un armado."
			}
		});
		// $("#tabla_detalle tbody").on("click",".update",function(){        
        //     $(this).modalForm({formURL: $(this).data('id')});
        // });
	});
</script>

{% endblock extrajs %}

